@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: rgba(255, 255, 255, 0.7);
  --border: rgba(0, 0, 0, 0.08);
}

@layer utilities {
  .myContainer {
    @apply py-20 max-xl:px-3 xl:w-7xl xl:mx-auto
  }
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-background: var(--background);
  --color-foreground: #121721;
  --color-main: #067DD9;
  --color-secondary: #FA7532;
  --color-content: #475569;
  --color-contentDark: #cbd5e1;
}

html[lang="en"] {
  font-family: var(--font-en), sans-serif;
}

html[lang="ar"] {
  font-family: var(--font-ar), sans-serif;
}

.section_title::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 30%;
  height: 4px;
  border-radius: 100px;
  background-color: var(--color-secondary);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #067DD9;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }

  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }

  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }

  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }

  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}

